<% stylesheet_link_tag "show-styles.css" %>

<div class="container">
  <div class="title">
    <h1><%= @article.title %></h1>
  </div>

  <div class="body">
    <ul>
      <li><%= link_to "Edit Post", edit_article_path(@article) %></li>
      <li><%= link_to "Delete Post", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></li>
    </ul>

    <p><%= @article.body %></p>

    <div class="comment-section">
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>

      <h2>Comments:</h2>
      <%= render @article.comments %>
    </div>
  </div>
</div>

